[submodule "fcapz"]
	path = fcapz
	url = https://github.com/lcapossio/fpgacapZero
	branch = main
[submodule "third_party/VexRiscv"]
	path = third_party/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
[submodule "third_party/vtpgZero"]
	path = third_party/vtpgZero
	url = https://github.com/lcapossio/vtpgZero.git
	branch = main
